* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #eee;
}
.container{
    max-width: 800px;
    margin:auto; /* vaba ruum servades ehk keskele */
    background-color: #fff  
}
.header{
    background-color: #666;
    color: #fff;
    line-height: 100px;
}
.nav{
    background-color: #000;
    padding: 0px 20px;
}
.nav ul{
    height: 20px;
    list-style: none;
}
.nav a{
    color: #fff;
    text-decoration: none;
}
.nav li{
    display: block;
    float: left; /*joondab kastid vasakule*/
    line-height: 20px;
    padding: 0 20px 0 0;
    /*padding right*/
}
.content{
    padding: 10px 20px;
}
.content p, h2{
    padding: 10px 0;
}
.content img{
    width: 100%;
}
.content ul{
    margin-left: 20px;
}
.footer{
    background-color: #000;
    line-height: 60px;
    color: #fff;
    padding-left: 20px;
}